@import "../partials/variables";

.home {
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: space-between;
	background-color: $neutral-10;

	&__main {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	&__content {
		width: 100%;
		display: flex;
		gap: 2rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
	}
}

.loading {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	&__spinners {
		width: 4rem;
		height: 3rem;
		position: relative;

		&__last {
			position: absolute;
			bottom: 0;
		}
	}
}
